<img id="imgbienv" src="https://www.seleqt.net/wp-content/uploads/2018/12/food-icons.jpg" alt="ingresa">
<h3 class="center-align">Bienvenid@ a este gran team y formar parte de esta gran aventura!</h3>
<br>
<a id="bbienv" href="/" class="waves-effect waves-light btn-large deep-orange darken-1"><i class="material-icons left">done_all</i>Inicio</a>
