<style>

  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  img {
    width: 100px;
    height: 100px;
  }
  h1,
  p {
    font-family: Avenir;
  }

</style>


<section>
  <img src="https://i.ya-webdesign.com/images/dinner-vector-symbol-3.png" alt="logo">
  <h1>Restauran Confirmation Email</h1>
  <p>Estimado Empleado,</p>
<br>
<p> Es un placer darle la bienvenida a nuestra familia de restaurante.</p>
<p> Como un nuevo miembro de nuestra familia.</p>
<br>
<p>Nuestras metas son simples - para proporcionar los productos más finos de la mejor calidad en una atmósfera cómoda con servicio profesional. Cuando nosotros logremos estas metas eficazmente, nuestros clientes estarán satisfechos y continuarán visitando nuestro restaurante. Ellos también nos recomendarán a sus amigos.</p>
<br>
<h2>¡Da click sobre la imagen para confirmar tu cuenta!</h2>
  <a href="{{endpoint}}"><img src="https://i.ya-webdesign.com/images/dinner-vector-symbol-3.png" alt="ingresa"></a>
</section>