<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  img {
    width: 100px;
    height: 100px;
  }
  h1,
  p {
    font-family: Avenir;
  }
</style>


<section>
  <img src="" alt="logo">
  <h1>Restauran Confirmation Email</h1>
  <p>Thanks to join our community!</p>
  <a href="{{endpoint}}">Click me</a>
</section>