<body>
<nav class="blue">
      <div class="nav-wrapper">
        <a class="brand-logo">Iron-Restaurant </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/menu"> Ir a Menu</a></li>
          <li><a href="/admin"> Ir a Admin</a></li>
          <li><a href="/inventario">Crear un Platillo</a></li>
          <li><a href="/statuspedido">Ordenes</a></li>
        </ul>
      </div>
    </nav>
  </div>  
<div  id ="inventario-margen" class="row s4">


 <div class="contenedor-inventario responsive-img ">

    <div id="surtir">
      <form action="/aumentarInventario" method="POST" id="inventario">
        <h3 class="black-text"> Inventario </h3>

        <input type="text" name="nombre" class="black-text" placeholder="stocks">
        <button class="center-align orange accent-4 btn waves-effect waves-light">Surtir <i
            class="material-icons right">room_service</i> </button>

      </form>


      <div id="crear">
        <form action="/crearPlatillo" method="POST" id="inventario">
          <h3 class="black-text"> Crear Platillo </h3>
          <input type="text" name="nombre" placeholder="Nombre">
          <input type="text" name="descripcion" placeholder="Descripcion">
          <input type="number" name="costo" placeholder="Costo">
          <p>foto</p>
          <input type="number" name="cantidad" placeholder="Cantidad" max="40" min="5">
          <button type="submit"  class="orange accent-4 btn waves-effect waves-light">Crear <i
              class="material-icons right">room_service</i> </button>
        </form>
      </div>

    </div>


    <div id="eliminar">
      <form action="/borraPlatillo" method="POST" id="inventario">
        <h3 class="black-text"> Eliminar platillo </h3>
        <input type="text" name="nombre" placeholder="Nombre">
        <button type="submit" class="orange accent-4 btn waves-effect waves-light">Eliminar<i class="material-icons right">close</i>
        </button>
      </form>
    </div>