
<div>
  <div id="surtir">
    <form action="/aumentarInventario" method="POST">
    <input type="text" name="nombre">
    <button>Surtir</button>
    </form>
  </div>
  <div id="crear">
    <form action="/crearPlatillo" method="POST">
      <input type="text" name="nombre" placeholder="Nombre">
      <input type="text" name="descripcion" placeholder="Descripcion">
      <input type="number" name="costo" placeholder="Costo">
      <p>foto</p>
      <input type="number" name="cantidad" placeholder="Cantidad">
      <button>Crear</button>
    </form>
  </div>
  <div id="eliminar"> 
    
  </div>
</div>