<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" media="screen,projection" />

   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div id ="imagen-fondo"class="contenedor-imagen responsive-img col s12">
    <form class="col s12 " method="post">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        <h5 class="black-text ">Welcome IronRestaurant</h5>
        <div class='row login'>
          <div class='input-field col s12'>
            <input class='validate black-text' type='email' name='email' id='email' />
            <label class="black-text" for='email'>Enter your email</label>
          </div>
        </div>

        <div class='row login'>
          <div class='input-field col s12'>
            <input class='validate' type='password' name='password' id='password' />
            <label class="black-text" for='password'>Password</label>
          </div>
        </div>

        <br />
        <center>
          <div class='row login'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
          </div>
          <a class="red-text" href="">Create account</a>
        </center>
        
      </form>
</div>



  {{{body}}}


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>  
  <script src="/javascripts/script.js"></script>
</body>
</html>