<div class="container">
  <br>
    <form action="/platilloForm/platillo/operar" method="POST">
    <input type="hidden" name="_id" value="{{platillo_id}}">

    <div>
      <label for="Nombres">Nombres</label>
      <input type="nombres" id="nombres" name="nombres" value=" {{ platillo.nombres }}">
    </div>

    <div>
      <label for="descipciones">descipciones</label>
      <input type="text" id="descipciones" name="descipciones" value=" {{ platillo.descipciones }}">
    </div>

    <div>
      <label for="costo">Costo</label>
      <input type="number" id="costo" name="costo" value=" {{ platillo.costo }}">
    </div>

  <button type="submit"> Aceptar</button>
  <a href="/"> Cancelar</a>

    </form>

</div>